{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'app_event_edit' %}
    	<h2>Images</h2>
    	{% for image in event.images %}
    		<div>
    			<img src="{{asset('/images/upload/'~image.src)}}">

    			{#Ajouter le lien pour la supp d'image#}
    		</div>
    	{% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
    
{{ form_end(form) }}