{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="belowNavbar">
	    <div class="containerGrid">
	        <ul class="grid">
                {% for event in events%}
                    <li>
                        <div class="gridBox">

                            {% if event.image|length == 3 %}
                                <div class="slidergrid3">
                                    <div class="slidesgrid3">
                                        {% for image in event.image %}
                                            <div class="slidegrid3 ">
                                                <img src="{{asset('images/uploads/'~image.src)}}" height="500px" width="500px"  alt="">
                                                <div class="mask">
                                                    <h2>{{ event.title }}</h2>
                                                </div>
                                                <a href="{{path('app_event_show',{'id':event.id})}}"></a>
                                            </div>
                                        {% endfor %}
                                        <h3>{{ event.title }}</h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if event.image|length == 2 %}
                                <div class="slidergrid2">
                                    <div class="slidesgrid2">
                                        {% for image in event.image %}
                                            <div class="slidegrid2 vueTitreGrid titreGrid">
                                                <img src="{{asset('images/uploads/'~image.src)}}" height="500px" width="500px"  alt="">
                                                <div class="mask">
                                                    <h2>{{ event.title }}</h2>
                                                </div>
                                                <a href="{{path('app_event_show',{'id':event.id})}}">Voir</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if event.image|length == 1 %}
                                {% for image in event.image %}
                                    <div class="slidegrid1">
                                        <a href="{{path('app_event_show',{'id':event.id})}}"><img src="{{asset('images/uploads/'~image.src)}}" height="500px" width="500px"></a>
                                    </div>
                                {% endfor %}
                                <h3>{{ event.title }}</h3>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li>
                        <p>no records found</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
	</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/event.js') }}"></script>
{% endblock %}