{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}{% endblock %}

{% block background %}<div class="background" style="background-image:url('{{ asset('images/page-accueil.jpg') }}')">{% endblock %}

{% block body %}
	<div class="belowNavbar">
		<table class="tableauEvent">
        <thead>
            <tr>
                <th class="colonneTableauEvent">Id</th>
                <th class="colonneTableauEvent">Title</th>
                <th class="colonneTableauEvent">Description</th>
                <th class="colonneTableauEvent">DateEvent</th>
                <th class="colonneTableauEvent">Image</th>
            </tr>
        </thead>
        <tbody class="">
        {% for event in events%}
            <tr class="">
                <td class="colonneTableauEvent">{{ event.id }}</td>
                <td class="colonneTableauEvent">{{ event.title }}</td>
                <td class="colonneTableauEvent">{{ event.description }}</td>
                <td class="colonneTableauEvent">{{ event.datetime ? event.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td class="colonneTableauEvent">
    				{% for image in event.image%}
    					<div>
    						<img src="{{asset('images/uploads/'~image.src)}}" height="150px">
    					</div>
    				{% endfor %}
    			</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	</div>
{% endblock %}