{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}{% endblock %}

{% block background %}<div class="background" style="background-image:url('{{ asset('images/page-accueil.jpg') }}')">{% endblock %}

{% block body %}
	<div class="belowNavbar">
		<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>DateEvent</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events%}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.datetime ? event.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>    
    				{% for image in event.image%}
    					<div>
    						<img src="{{asset('/images/uploads/'~image.src)}}" width="25%">
    					</div>
    				{% endfor %}
    			</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	</div>
{% endblock %}