{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
<form method="post" class="belowNavbar">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="login">
        <div class="titrelogin">
            <h1>Se Connecter</h1>
        </div>
        <div class="emaillogin">
            <label for="inputEmail">✉</label>
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
        </div>
        <div class="passwordlogin">
            <label for="inputPassword">🔑</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <div class="submitlogin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Se Connecter</button>
        </div>
        <hr>
        <div class="signup">
            Pas encore inscrit ?
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </div>

    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    

</form>
{% endblock %}
