{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="belowNavbar">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="register">
            {{ form_start(registrationForm) }}
            <div class="titreregister">
                <h1>S'inscrire</h1>
            </div>
            <div class="pseudoregister">
                {{ form_row(registrationForm.pseudo) }}
            </div>
            <div class="nomregister">
                {{ form_row(registrationForm.nom) }}
            </div>
            <div class="emailregister">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="adresseregister">
                {{ form_row(registrationForm.adresse) }}
            </div>
            <div class="phoneregister">
                {{ form_row(registrationForm.phone_number)}}
            </div>
            <div class="passwordregister">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
            <div class="agreeregister">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="submitregister">
                {{ form_row(registrationForm.submit) }}
            </div>
            {{ form_end(registrationForm) }}
            <hr>
            <div class="signin">
                Déjà inscrit ?
                <a href="{{ path('app_login') }}">Se connecter</a>
            </div>
        </div>
    </div>
{% endblock %}