{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

	<p>Coucou c'est le profil</p>

	{% if is_granted('ROLE_USER') %}
		<h1>Bonjour {{app.user.pseudo}} {{app.user.nom}} !</h1>
		<p>Vous habitez au {{app.user.adresse}}</p>
		<p>Votre numéro de téléphone est le {{app.user.getphoneNumber}}</p>

	{% endif %}

	<a href="{{path('app_user_edit',{'id':app.user.id})}}">Modifier votre profil</a>
	<form method="post" action="{{ path('app_user_destruct', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to 	delete this item?');">
   		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    	<button class="btn">Supprimer votre profil</button>
	</form	>
	<a href="{{path('app_logout')}}">Deconnexion</a>



{% endblock %}
