{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="belowNavbar">
		<div class ="profil">
			{% if is_granted('ROLE_USER') %}
				<div class="titreprofil">
					<h1>Bonjour {{app.user.pseudo}} {{app.user.nom}} !</h1><br>
				</div>
				<div class="adresseprofil">
					<p>Vous habitez au {{app.user.adresse}}</p><br>
				</div>
				<div class="numeroprofil">
					<p>Votre numéro de téléphone est le {{app.user.getphoneNumber}}</p><br>
				</div>
				<div class="modifierprofil">
					<a href="{{path('app_user_edit',{'id':app.user.id})}}">Modifier votre profil</a> <br>
				</div>
				<div class="deconnexionprofil">
					<a href="{{path('app_logout')}}">Deconnexion</a><br>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
