{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}
	<div class="belowNavbar">
		<table>
			
				{% for user in user %}
					<tr>
						<td><p>{{app.user.pseudo}}</p></td>					
						<td><p>{{app.user.nom}}</p></td>
						<td><p>{{app.user.adresse}}</p></td>
						<td><p>{{app.user.getPhoneNumber()}}</p></td>
						<td><p>{{app.user.email}}</p></td>
					</tr>	
				{% endfor %}
			
		</table>
		
			
	</div>
{% endblock %}
