<nav class="navbar">
    <a href="{{ path('index') }}" class="navbar-brand"><span>A</span>ccueil</a>
    <ul>
        {% if is_granted('ROLE_USER') %}
            <li class="nav"><a href="{{ path('app_profil') }}" class="active">Profil</a></li>
            <li class="nav"><a href="{{path('app_devis_index')}}">Devis gratuit</a></li>
        {% else %}
            <li class="nav"><a href="{{ path('app_login') }}">Se Connecter</a></li>
            <li class="nav"><a href="{{ path('app_register') }}" class="active">S'Inscrire</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN')%}
            <li class="nav"><a href="{{path('app_event_new')}}">Ajouter un chantier</a></li>
            <li class="nav"><a href="{{path("app_admin_index")}}">Administrer</a></li>
        {% endif%}
    </ul>
    <button class="navbar-toggler" id="navbar-toggler">
        <span></span>
    </button>
</nav>