<!DOCTYPE html lang="fr">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yohan Bouttefeux{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}

</head>
<body>
{% block background %}{% endblock %}
<nav class="navbar">
    <a href="{{ path('index') }}" class="navbar-brand"><span>A</span>ccueil</a>
    <ul>
        {% if is_granted('ROLE_USER') %}
            <li class="nav"><a href="{{ path('app_profil') }}" class="active">Profil</a></li>
        {% else %}
            <li class="nav"><a href="{{ path('app_login') }}">Se Connecter</a></li>
            <li class="nav"><a href="{{ path('app_register') }}" class="active">S'Inscrire</a></li>
        {% endif %}
    </ul>
    <button class="navbar-toggler" id="navbar-toggler">
        <span></span>
    </button>
</nav>
{% block body %}

{% endblock %}
<!-- footer -->
<script type="text/javascript" src="{{ asset('js/navbar.js') }}"></script>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
<footer >

    <div class="contenu-footer">

        <div class="bloc footer-services">
            <h3>Nos Services</h3>
            <ul class="liste-services">
                <li><a href="#">Devis en ligne</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Galerie</a></li>
            </ul>
        </div>

        <div class="bloc footer-contact">
            <h3>Restons en contact</h3>
            <p>06 26 50 69 46</p>
            <p>yohan.bouttefeux@hotmail.fr</p>
            <p>38 Rue de Momignies, 59186 Anor</p>
        </div>

        <div class="bloc footer-horaires">
            <h3>Les horaires</h3>
            <ul class="liste-horaires">
                <li>✔️ Lun 10h-19h</li>
                <li>✔️ Mar 10h-19h</li>
                <li>✔️ Mer 10h-19h</li>
                <li>✔️ Jeu 10h-19h</li>
                <li>✔️ Ven 10h-19h</li>
                <li>❌ Sam fermé</li>
                <li>❌ Dim fermé</li>
            </ul>
        </div>

        <div class="bloc footer-medias">
            <h3>Nos réseaux</h3>
            <ul class="liste-media">
                <li><a href="https://www.facebook.com/Bouttefeux-yohan-321817244628825/">
                    <img src="{{ asset('images/fb.png') }}" alt="icones réseaux sociaux">Facebook/bouttefeux
                </a></li>
                <!--<li><a href="#">-->
                        <!--  <img src="medias/instagram.svg" alt="icones réseaux sociaux">-->
                <!--  Instagram/stuff</a></li>-->
                <!--  <li><a href="#">-->
                        <!--  <img src="medias/twitter.svg" alt="icones réseaux sociaux">-->
                <!--     Twitter/lorem</a></li>-->
                <!--  <li><a href="#">-->
                        <!--   <img src="medias/github.svg" alt="icones réseaux sociaux">-->
                <!--     Github/HelloWorld</a></li>-->
                <!--  <li><a href="#">-->
                        <!--   <img src="medias/youtube.svg" alt="icones réseaux sociaux">-->
                <!-- Youtube/channel</a></li> -->
            </ul>
        </div>

    </div>

</footer>
</body>
</html>
